Repository d4l-data4life/hc-securestore-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, securestore, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/carte/data4life/gradle/securestore/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
securestore:
  - securestore/**/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-jvm:
  - sample-jvm/**/*

Change IDE settings
  .idea/codeStyles/Project.xml
Labels: none

Change scripts
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/config/AppConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/config/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/versioning.gradle.kts
  securestore/build.gradle.kts
Labels: dependencies, securestore

Change Dependency Plugin
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradlePlugin/securestore-dependency/build.gradle.kts
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Dependency.kt
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/DependencyPlugin.kt
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/GradlePlugin.kt
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Repository.kt
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Version.kt
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/sdk/securestore/dependency/Dependency.kt
  securestore/build.gradle.kts
Labels: dependencies, securestore

Change build scripts
  build.gradle.kts
  buildSrc/build.gradle.kts
  securestore/build.gradle.kts
Labels: dependencies, securestore

Update Docs
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
  CONTRIBUTING.adoc
  DEVELOPING.adoc
Labels: documentation

Change Downloadscript
  buildSrc/src/main/kotlin/care/data4life/gradle/securestore/script/download-scripts.gradle.kts
Labels: dependencies

Bump Gradle
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Bump Kotlin
  CHANGELOG.adoc
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Version.kt
Labels: documentation

Bump AGP
  CHANGELOG.adoc
  gradle.properties
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Version.kt
  securestore/build.gradle.kts
Labels: documentation, securestore

Bump other dependencies
  CHANGELOG.adoc
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Version.kt
Labels: documentation

Bump Gradle Enterprise plugin
  settings.gradle.kts
Labels: none

Bump script dependencies
  buildSrc/build.gradle.kts
Labels: dependencies

Update docs
  DEVELOPING.adoc
  README.adoc
Labels: documentation

Enable Java 11 on CI
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Lowercase dependencies
  gradlePlugin/securestore-dependency/src/main/kotlin/care/data4life/gradle/securestore/dependency/Dependency.kt
Labels: none

Fix Doc links
  CONTRIBUTING.adoc
  DEVELOPING.adoc
Labels: none

Clean Changelog
  CHANGELOG.adoc
Labels: documentation
